---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Socials from "@/components/Socials.astro";
import LinkButton from "@/components/LinkButton.astro";
import Card from "@/components/Card.astro";
import Hr from "@/components/Hr.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import IconRss from "@/assets/icons/IconRss.svg";
import IconArrowRight from "@/assets/icons/IconArrowRight.svg";
import { SITE } from "@/config";
import { SOCIALS } from "@/constants";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);
---

<Layout>
  <Header />
  <main id="main-content" data-layout="index">
    <section id="hero" class="pt-8 pb-6">
      <h1 class="my-4 inline-block text-4xl font-bold sm:my-8 sm:text-5xl">
        ZIK Lab
      </h1>
      <a
        target="_blank"
        href="/rss.xml"
        class="inline-block"
        aria-label="rss feed"
        title="RSS Feed"
      >
        <IconRss
          width={20}
          height={20}
          class="scale-125 stroke-accent stroke-3"
        />
        <span class="sr-only">RSS Feed</span>
      </a>

      <p class="text-sm sm:text-base italic text-muted-foreground">
        tips: 你可以随时通过顶部导航/菜单栏，或直接点击带虚线的关键词，去到你感兴趣的任何地方；）
      </p>

      <p class="mt-4">
        嗨，我是 <LinkButton
            class="underline decoration-dashed underline-offset-4 hover:text-accent"
            href="https://zik-3.com"
            title="个人主页"
          >
            Mitatis
          </LinkButton>，这是我的信息陈列站，旨在分享人工智能、科技发展、AI创投的最新讯息！
      </p>
      <p class="mt-2">
        本站主要包括以下几个基本功能，其它功能正在开发中：
      </p>

      <p class="mt-2">
        
        <ul  class="mt-4 list-disc pl-6">
          <li class="mt-2"><LinkButton
            class="underline decoration-dashed underline-offset-4 hover:text-accent"
            href="/building"
            title="AI图谱"
          >
            AI图谱
          </LinkButton> 通过力导向图展现主流大语言模型的历史发展与关系，并用卡片详细介绍各个模型特点。在这里你可以找到LLM发展最体系的前沿信息。</li>
          <li class="mt-2"><LinkButton
            class="underline decoration-dashed underline-offset-4 hover:text-accent"
            href="/board"
            title="AI图谱"
          >
            新闻板
          </LinkButton> 通过日报/周报等形式展示科技热点，并引用第三方信息作为展示面板。（持续改进中）</li>
          <li class="mt-2"><LinkButton
            class="underline decoration-dashed underline-offset-4 hover:text-accent"
            href="/news"
            title="信号流"
          >
            信号流
          </LinkButton> 会定期推送最新讯息，并支持RSS服务，详见 <LinkButton
            class="underline decoration-dashed underline-offset-4 hover:text-accent"
            href="/building"
            title="RSS"
          >
            RSS教程
          </LinkButton></li>
        </ul>
        </p>
        
        
        <p class="mt-4">
          
        更多信息请参考
        <LinkButton
          class="underline decoration-dashed underline-offset-4 hover:text-accent"
          href="/about"
          title="网站介绍"
        >
          网站介绍
        </LinkButton>
      </p>
      {
        // only display if at least one social link is enabled
        SOCIALS.length > 0 && (
          <div class="mt-4 flex flex-col sm:flex-row sm:items-center">
            <div class="mr-2 mb-1 whitespace-nowrap sm:mb-0">社媒：</div>
            <Socials /> <a class="pl-2"
          href= "https://zik-3.com"
        ><img src="/favicon_black.svg"  class="h-6 w-6 fill-current text-[#374151] dark:text-[#e5e7eb]" alt="ZIK Logo" />
        </a>
          </div>
        )
      }
    </section>

    <Hr />

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured" class="pt-12 pb-6">
            <h2 class="text-2xl font-semibold tracking-wide">最新</h2>
            <ul>
              {featuredPosts.map(data => (
                <Card variant="h3" {...data} />
              ))}
            </ul>
          </section>
          {recentPosts.length > 0 && <Hr />}
        </>
      )
    }

    {
      recentPosts.length > 0 && (
        <section id="recent-posts" class="pt-12 pb-6">
          <h2 class="text-2xl font-semibold tracking-wide">近期文章</h2>
          <ul>
            {recentPosts.map(
              (data, index) =>
                index < SITE.postPerIndex && <Card variant="h3" {...data} />
            )}
          </ul>
        </section>
      )
    }

    <div class="my-8 text-center">
      <LinkButton href="/archives/">
        查看全部
        <IconArrowRight class="inline-block" />
      </LinkButton>
    </div>
  </main>
  <Footer />
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const indexLayout = (document.querySelector("#main-content") as HTMLElement)
      ?.dataset?.layout;
    if (indexLayout) {
      sessionStorage.setItem("backUrl", "/");
    }
  });
</script>
