---
// @ts-nocheck
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Card from "@/components/Card.astro";
import Pagination from "@/components/Pagination.astro";
import getSortedNews from "@/utils/getSortedPosts";
import { SITE } from "@/config";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getCollection("news", ({ data }) => !data.draft);
  return paginate(getSortedNews(posts) as any, { pageSize: SITE.postPerPage });
}) satisfies GetStaticPaths;

const { page } = Astro.props as any;
---

<Layout title={`新闻 | ${SITE.title}`}>
  <Header />
  <Main pageTitle="信号流" pageDesc="这里更新科技资讯与AI大事件">
    <ul>
    {page.data.map(data => <Card {...(data as any)} />)}
    </ul>
  </Main>

  <Pagination {page} />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>
